*.sh    text eol=lf
*.bat   text eol=crlf

pk_generated_parent.pom  linguist-generated=true
dependencies.md          linguist-generated=true
doc/changes/changelog.md linguist-generated=true

.settings/org.eclipse.jdt.core.prefs linguist-generated=true
.settings/org.eclipse.jdt.ui.prefs   linguist-generated=true
doc/images/.svg                      linguist-generated=true

.settings/org.eclipse.jdt.core.prefs linguist-generated=true
